SRC_MQTT & NodeRED/mqtt_esp8266/flows.json
[
    {
        "id": "5f875323d2da2c48",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1c78b0cd8da87771",
        "type": "mqtt in",
        "z": "5f875323d2da2c48",
        "name": "",
        "topic": "dsit/smartfarm1/out",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "842a1303eac5add9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 160,
        "wires": [
            [
                "7081cb7746df6648",
                "09082c658a262485"
            ]
        ]
    },
    {
        "id": "7081cb7746df6648",
        "type": "debug",
        "z": "5f875323d2da2c48",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 120,
        "wires": []
    },
    {
        "id": "09082c658a262485",
        "type": "ui_text",
        "z": "5f875323d2da2c48",
        "group": "297845286ce8e02a",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 470,
        "y": 160,
        "wires": []
    },
    {
        "id": "34ab2add89f2fdf1",
        "type": "mqtt out",
        "z": "5f875323d2da2c48",
        "name": "",
        "topic": "dsit/smartfarm1/in",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "842a1303eac5add9",
        "x": 480,
        "y": 260,
        "wires": []
    },
    {
        "id": "8fb32fb4a64400a6",
        "type": "ui_switch",
        "z": "5f875323d2da2c48",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "297845286ce8e02a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "34ab2add89f2fdf1"
            ]
        ]
    },
    {
        "id": "842a1303eac5add9",
        "type": "mqtt-broker",
        "name": "smartfarm1",
        "broker": "broker.mqtt-dashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "297845286ce8e02a",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "c505f8df6d397409",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "c505f8df6d397409",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    }
]